<div class="container-divider"></div>
<div class="container"> 
<nav class="sub-nav custom-page-search-mini">
    {{breadcrumbs}}
    {{search scoped=true submit=false placeholder='Search for help articles, videos and more'}}
</nav>
    <header class="page-header">
        {{#is section.id 1500002292901}}
        <span>
            <h1>{{section.name}}</h1>
            <p class="custom-contact-header-additional-desc">
                <b>{{section.description}}</b>
            </p>
        </span>
        {{/is}}
        {{#is section.id 1500002292921}}
        <span>
            <h1>{{section.name}}</h1>
            <p class="custom-contact-header-additional-desc">
                <b>{{section.description}}</b>
            </p>
        </span>
        {{/is}}
        {{#is section.id 1500002272662}}
        <span>
            <h1>{{section.name}}</h1>
            <p class="custom-contact-header-additional-desc">
                <b>{{section.description}}</b>
            </p>
        </span>
        {{/is}}
    </header>
      <!-- CUSTOM CARDS -->
    <div class="custom-card-container">
    {{#each section.sections}}
    <div class="custom-contact-card-wrapper">
         <section class="custom-card small-card">
                {{#is id 1500002293041}} {{!-- Email --}}
                    <a href="mailto:cetsupport@configura" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">textsms</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002293841}} {{!-- Chat --}}
                    <a href="https://www.configura.com/support/chat" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">textsms</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002293861}} {{!-- Call --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">call</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002273242}} {{!-- Forums --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">forum</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002293921}} {{!-- Global Support Availability --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">access_time</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002293941}} {{!-- Manufacturer Extension Support --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">business</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002293961}} {{!-- FAQs --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">access_time</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
                {{#is id 1500002273282}} {{!-- Migration Guide --}}
                    <a href="https://support.configura.com/hc/en-us/sections/1500002292901" class="custom-card-link">
                        <div class="custom-card-logo-container">
                            <i class="material-icons black-icon">access_time</i>
                        </div>
                        <h3 class="custom-card-title">
                        {{name}}
                        </h3>
                    </a>
                {{/is}}
        </section>
        <p>{{description}}</p>
    </div>
    {{/each}}
    </div>
</div>